{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--  favicons   -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'jogo/img/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'jogo/img/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'jogo/img/favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'jogo/img/favicons/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'jogo/img/favicons/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">


    <title> {% block titulo_pagina %}The village of stones{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'jogo/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'jogo/css/estilo.css' %}">
    <link rel="stylesheet" href="{% static 'jogo/css/icones.css' %}">
    <link rel="stylesheet" href="{% static 'jogo/css/jquery_ui.css' %}">

    {% block css_externo %}
    {% endblock %}

    <script src="{% static 'jogo/scripts/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'jogo/scripts/bootstrap.min.js' %}" ></script>
    <script src="{% static 'jogo/scripts/script.js' %}"></script>

    <!--<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>-->
    <script src="{% static 'jogo/scripts/jQueryUI.js' %}"></script>

    <script>
        jQuery(document).ready(function(){
        jQuery("#subirTopo").hide();

        jQuery('a#subirTopo').click(function () {
                 jQuery('body,html').animate({
                   scrollTop: 0
                 }, 800);
                return false;
           });

        jQuery(window).scroll(function () {
                 if (jQuery(this).scrollTop() > 1000) {
                    jQuery('#subirTopo').fadeIn();
                 } else {
                    jQuery('#subirTopo').fadeOut();
                 }
             });
        });
    </script>


    {% csrf_token %}

    {% block scripts %}
    {% endblock %}

    {% block estilo %}
    {% endblock estilo %}

    {% block ajax_functions %}
    {% endblock %}
</head>

<body class="d-flex flex-column">
    <nav class="navbar navbar-expand-lg branco bg-light navbar-dark">
        <a class="navbar-brand" href="{% url 'index' %}">
<!--            <img src="{% static 'jogo/img/jogo-logo.jpeg' %}" width="30" height="30" alt="">-->
            <img src="{% static 'jogo/img/img_pocao.png' %}" width="30" height="30" alt="">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav" >
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'index' %}">Home<span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'pesquisar_jogo' %}">Pesquisar Jogo</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'pre-cadastro' %}">Cadastro</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'sobre' %}">Sobre</a>
                </li>
            </ul>
        </div>
    </nav>

    <!--  Erros section   -->
    <div class="container">
        <div class="col-md-12 mt-3">
            {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    </div>

    <div style=" flex: 1 0 auto;">
        {% block body %}
        {% endblock %}
    </div>


    {% block footer %}
        <footer class="rodape">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5 offset-1 text-center">
                        <img src="{% static 'jogo/img/jogo-logo.jpeg' %}" alt="" width="200px" height="200px">
                    </div>

                    <div class="offset-3 col-md-2">
                         <ul class="rodape-list list-unstyled list-inline">
                            <li>
                                <a href="{% url 'index'%}">Home<span class="sr-only">(current)</span></a>
                            </li>

                            <li>
                                <a href="{% url 'pesquisar_jogo'%}">Pesquisar Jogo</a>
                            </li>

                            <li>
                                <a href="{% url 'pre-cadastro'%}">Cadastro</a>
                            </li>

                            <li>
                                <a href="{% url 'sobre' %}">Sobre</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-12 text-center" style="margin-top: 30px">
                        <p>&copy; 2019 Todos os Direitos Reservados.</p>
                    </div>
                </div>
            </div>
        </footer>
    {% endblock %}


    {# P/ o rodapé sticker: https://startbootstrap.com/snippets/sticky-footer-flexbox/ #}
</body>
</html>