{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> {% block titulo_pagina %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'jogo/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'jogo/css/estilo.css' %}">
    <link rel="stylesheet" href="{% static 'jogo/css/icones.css' %}">
    <link rel="stylesheet" href="{% static 'jogo/css/jquery_ui.css' %}">

    {% block css_externo %}
    {% endblock %}

    <script src="{% static 'jogo/scripts/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'jogo/scripts/bootstrap.min.js' %}" ></script>
<!--    <script src="{% static 'jogo/scripts/chart.min.js' %}"></script>-->
    <script src="{% static 'jogo/scripts/script.js' %}"></script>

<!--    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>-->
    <script src="{% static 'jogo/scripts/jQueryUI.js' %}"></script>

    {% csrf_token %}

    {% block scripts %}
    {% endblock %}

    {% block estilo %}
    {% endblock estilo %}

    {% block ajax_functions %}
    {% endblock %}

</head>

<body>
    <nav class="navbar navbar-expand-lg branco bg-light navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav" >
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'index'%}">Home<span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'pesquisar_jogo'%}">Pesquisar Jogo</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cadastrar-jogador'%}">Cadastro</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'sobre' %}">Sobre</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="col-md-12 mt-3">
            {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    </div>

    {% block body %}
    {% endblock %}


    {% block footer %}
        <section class="rodape">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5 offset-1 text-center">
                        <img src="{% static 'jogo/img/jogo-logo.jpeg' %}" alt="" width="200px" height="200px">
                    </div>

                    <div class="offset-3 col-md-2">
                         <ul class="rodape-list list-unstyled list-inline">
                            <li>
                                <a href="{% url 'index'%}">Home<span class="sr-only">(current)</span></a>
                            </li>

                            <li>
                                <a href="{% url 'pesquisar_jogo'%}">Pesquisar Jogo</a>
                            </li>

                            <li>
                                <a href="{% url 'cadastrar-jogador'%}">Cadastro</a>
                            </li>

                            <li>
                                <a href="{% url 'sobre' %}">Sobre</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-12 text-center" style="margin-top: 30px">
                        <p>&copy; 2019 Todos os Direitos Reservados.</p>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}

</body>
</html>