{% extends 'jogo/base.html' %}
{% load static %}

{%  block scripts %}
    <script>
        var uuid_jogo = "{{ jogo.id_jogo }}";
    </script>

<!--    <script src="https://code.highcharts.com/highcharts.js"></script>-->
    <script src="{% static 'jogo/scripts/HighchartsJSv721.js' %}"></script>
    <script src="{% static 'jogo/scripts/dashboard_scripts.js' %}"></script>

{%  endblock %}
{% block body %}
        <!-- <p>Veja os resultados do jogo {{ jogo.id_jogo }}</p> -->
        <section id="section-dashboard">
            <div class="container-fluid">

                <!-- Gráfico da vida dos personagens -->
                <div class="row">
                    <div class="col-md-10 offset-1">
                        <div class="dash-card">
                            <div class="dash-card-header">
                                <h4><span class="icon-stats-dots"></span>&nbsp;Vida do personagem</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.</p>
                                <hr/>
                            </div>
                            <div class="dash-card-body">
                                <div id="vida_personagem_boss"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Gráfico da probabilidade dos personagens -->
                <div class="row">
                    <div class="col-md-5 offset-1">
                        <div class="dash-card">
                            <div class="dash-card-header">
                                <h4>Distribuição de probabilidades</h4>
                                <p>Vestibulum vitae cursus orci. Sed erat mi, venenatis id lacinia non, pretium sed velit. In sollicitudin varius velit sit amet maximus. Fusce lacus diam, placerat id porta ut, dictum non turpis.</p>
                                <hr/>
                            </div>
                            <div class="dash-card-body">
                                <div id="distribuicao_probabilidades"></div>
                            </div>
                        </div>
                    </div>

                <!-- Aqui vem outro gráfico, não sei qual -->
                    <div class="col-md-5">
                        <div class="dash-card">
                            <div class="dash-card-header">
                                <h4>Algum outro gráfico ;-;</h4>
                                <p>Vestibulum vitae cursus orci. Sed erat mi, venenatis id lacinia non, pretium sed velit. In sollicitudin varius velit sit amet maximus. Fusce lacus diam, placerat id porta ut, dictum non turpis.</p>
                                <hr/>
                            </div>
                            <div class="dash-card-body">
                                <div id="distribuicao_probabilidades0"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                        <div class="col-md-10 offset-1">
                            <div class="dash-card">
                                <div class="dash-card-header">
                                    <h4>Simple Table</h4>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.</p>
                                    <hr/>
                                </div>
                                <div class="dash-card-body">
                                    <table class="table dash-table white-color">
                                        <thead>
                                            <tr>
                                                <th scope="col"><span class="icon-file-text"></span></span>&nbsp;Nº rodada</th>
                                                <th scope="col"><span class="icon-fire"></span>&nbsp;Dano causado</th>
                                                <th scope="col"><span class="icon-dice"></span>&nbsp;Valor dado</th>
                                                <th scope="col">Situação jogador</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for j in jogos %}
                                                <tr>
                                                    <th scope="row">{{j.numero_rodada}}</th>
                                                    <td>{{ j.dano_atacante }}</td>
                                                    <td>{{ j.numero_dado }}</td>
                                                    <td>
                                                        {% if j.personagem_atacou %}
                                                            <span class="icon-eyedropper"></span>
                                                        {% else %}
                                                            <span class="icon-shield"></span>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

{% endblock %}
