{% extends 'jogo/base.html' %}
{% load static %}

{%  block scripts %}
    <script src="http://code.highcharts.com/highcharts.src.js"></script>
    <script src="{% static 'jogo/scripts/dashboard_scripts.js' %}"></script>

{%  endblock %}
{% block body %}

<section id="section-dashboard">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Dashboard</h1>
            </div>
        </div>

        <article class="row">
            <div class="col-md-12">
                <div id="vida_personagem_boss"></div>
            </div>
        </article>

        <article class="row">
            <div class="col-md-6">
                <div id="distribuicao_probabilidades"></div>
            </div>
        </article>
    </div>
</section>

{% endblock %}
