{% extends 'jogo/base.html' %}
{% load static %}

{% block body %}
    <section id="section-apresentacao">
            <div class="container-fluid">

                <!-- Apresentação Skyrim :) -->
                <div class="row">
                    <div class="col-10 offset-1">
                        <div class="dash-card">
                            <div class="dash-card-header">
                                <h4 class="pixel-title">Ei, você finalmente chegou!&nbsp;<span class="icon icon-heart"></span></h4>
                                <hr/>
                            </div>
                            <div class="dash-card-body">
                                <p>Você estava procurando um jogo de RPG, certo? Então você encontrou!</p>
                                <p>Basta seguir as instruções abaixo para saber como jogar.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Sobre o que se trata o projeto -->
                <div class="row">
                    <div class="col-10 offset-1">
                        <div class="dash-card">
                            <div class="dash-card-header">
                                <h4 class="pixel-title">Guia rápido <i class="material-icons" style="font-size: 2rem">sports_esports</i></h4>
                                <hr/>
                            </div>
                            <div class="dash-card-body">
                                <p>Para jogar uma partida primeiramente você precisa criar uma conta, este processo é obrigatório para todos os jogadores.</p>
                                <p>Existe ainda, a opção de pesquisar um jogo. Com o apelido de algum jogador, você pode obter um resumo rápido de suas partidas.</p>
                                <div class="dash-list text-center">
                                    <a href="{% url 'pre-cadastro' %}" class="btn btn-azul-1"><i class="material-icons">person_add</i> Criar uma conta</a>
                                    <a href="{% url 'pesquisar_jogo' %}" class="btn btn-azul-1"><i class="material-icons">search</i> Pesquisar jogo</a>
                                    <a href="{% url 'sobre' %}" class="btn btn-azul-1"><span class="icon icon-info"></span>&nbsp;Sobre este projeto</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}