{% extends 'jogo/base.html' %}
{% load static %}


{% block body %}
    <section id="section-dashboard">
            <div class="container-fluid">
                <div class="row">
                        <div class="col-md-10 offset-1">
                            <div class="dash-card">
                                <div class="dash-card-header">
                                    <h4>Bem vindo(a): {{ jogador.apelido }}</h4>
                                    <p>Aqui vocề pode ver todos os jogos realizados até o momento e, caso queira, iniciar um novo.</p>
                                </div>

                                <div class="dash-card-body">
                                    <table class="table dash-table white-color">
                                        <thead>
                                            <tr>
                                                <th scope="col"><span class="icon-file-text"></span>&nbsp;Identificador jogo</th>
                                                <th scope="col"><span class="icon-fire"></span>&nbsp;Data início</th>
                                                <th scope="col"><span class="icon-dice"></span>&nbsp;Conferir resultados</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for j in jogos %}
                                                <tr>
                                                    <td style="padding-left: 20px;">{{ j }}</td>
                                                    <td>{{ j.data_jogo }}</td>
                                                    <td>
                                                        <a href="{% url 'dashboard' jogador.apelido j %}" title="Conferir dados do jogo" class="btn btn-azul-1">Resultados</a>
                                                        {% if user.is_authenticated %}
                                                            <a href="{% url 'baixar_csv_jogo' j.id_jogo %}" title="Baixar dados da rodada em um CSV" class="btn btn-azul-1">Baixar CSV</a>
                                                        {% else %}
                                                            <a href="#" class="btn btn-azul-1 disabled">Baixar CSV (admin)</a>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% empty %}
                                                <tr>
                                                    <td colspan="3">
                                                        Ops! parece que você não tem nenhum jogo cadastrado!
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                                <div class="dash-card-footer">
                                    <a href="{% url 'tutorial' jogador.apelido %}" class="btn btn-success">Iniciar um novo jogo!</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
{% endblock %}