{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Probabilidade</title>

    {% csrf_token %}
    <script>
        // https://docs.djangoproject.com/en/2.2/ref/csrf/
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }



        function get_ult_rodada() {
            console.log("Pegando o valor da ultima rodada")
            $.ajax({
                url:'/get_ult_rodada/',
                type: "GET",
                data: {id_jogo: 1, csrfmiddlewaretoken: '{{ csrf_token }}'},
                dataType: 'json',
                //success:function(response){alert("OK");},
                success: function (data) {
                    console.log(data);
                    ult_rodada = data;
                },
                complete:function(){},
                error:function (xhr, textStatus, thrownError){}
            });
        }

        function buscarJogos() {
            console.log("Buscando todos os jogos")
            $.ajax({
                url:'/buscarJogos',
                type: "GET",
                data: {apelido: 'Bugates', csrfmiddlewaretoken: '{{ csrf_token }}'},
                dataType: 'json',
                //success:function(response){alert("OK");},
                success: function (data) {
                    console.log(data);
                    ult_rodada = data;
                },
                complete:function(){},
                error:function (xhr, textStatus, thrownError){}
            });
        }

        var csrftoken = getCookie('csrftoken');

        function post_oi() {
            console.log("oi");
            $.ajax({
                url:'/teste/',
                type: "POST",
                data: {dano_jogador: dano_jogador, id_jogo: "2" , csrfmiddlewaretoken: '{{ csrf_token }}'},
                success:function(response){},
                complete:function(){},
                error:function (xhr, textStatus, thrownError){}
            });
        }
    </script>
    <script src="{% static 'jogo/scripts/jquery-3.4.1.min.js' %}" ></script>

</head>

<body onload="resetarJogo();inicializarGame();">
    <div class="" style="color: #000000 !important;">
        <h1>Variáveis do sistema:</h1>
        <p>pk_jogador: <span id="pk_jogador"></span></p>
        <p>id_jogo: <span id="id_jogo"></span></p>
{#        var ult_rodada; // esta variável recebe da função get_ult_rodada a última rodada referente ao idjogo do BD#}

        <p>vida_personagem: <span id="vida_personagem"></span></p>
        <p>vida_boss: <span id="vida_boss"></span></p>
        <p>dano_atacante: <span id="dano_atacante"></span></p>
        <p>probabilidade_ataque: <span id="probabilidade_ataque"></span></p>
        <p>probabilidade_defesa: <span id="probabilidade_defesa"></span></p>
        <p>numero_dado: <span id="numero_dado"></span></p>
        <p>numero_rodada: <span id="numero_rodada"></span></p>
        <p>numero_fase: <span id="numero_fase"></span></p>
        <p>personagem_atacou: <span id="personagem_atacou"></span></p>
    </div>

<!--    <div>
        <b>Teste links:</b>
        {# $('#mudar-url').attr('href', 'www.127.0.0.1:800/old') #}
        <a href="#" id="mudar-url">Teste</a>
    </div>-->


        <button>Executar mil jogos</button>
</body>
</html>