{% extends 'jogo/base.html' %}
{% load static %}

{% block body %}
    <section id="section-apresentacao">
            <div class="container-fluid">

                <!-- Apresentação Skyrim :) -->
                <div class="row">
                    <div class="col-md-10 offset-1">
                        <div class="dash-card">
                            <div class="dash-card-header">
                                <h4 class="pixel-title">Ei, você finalmente chegou!&nbsp;<span class="icon icon-heart"></span></h4>
                                <hr/>
                            </div>
                            <div class="dash-card-body">
                                <p>Você estava procurando um jogo de RPG, certo? Então você encontrou!</p>
                                <p>Basta ler a introdução abaixo para conhecer um pouco mais sobre o projeto e como jogar.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Sobre o que se trata o projeto -->
                <div class="row">
                    <div class="col-md-10 offset-1">
                        <div class="dash-card">
                            <div class="dash-card-header">
                                <h4 class="pixel-title">Guia rápido</h4>
                                <hr/>
                            </div>
                            <div class="dash-card-body">
                                <p>Para jogar uma partida primeiramente você precisa criar uma conta, este processo é obrigatório para todos os usuários.</p>
                                <p>Caso você queira pesquisar o resultado de uma partida, um resumo rápido do que aconteceu.</p>
                                <p>Caso queira saber um pouco mais sobre este projeto.</p>
                                <div class="dash-list text-center">
                                    <a href="{% url 'cadastrar-jogador' %}" class="btn btn-azul-1"><span class="icon icon-user"></span>&nbsp;Criar uma conta</a>
                                    <a href="{% url 'pesquisar_jogo' %}" class="btn btn-azul-1"><span class="icon icon-search"></span>&nbsp;Pesquisar jogo</a>
                                    <a href="{% url 'sobre' %}" class="btn btn-azul-1"><span class="icon icon-info"></span>&nbsp;Sobre este projeto</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}