{% extends 'jogo/base.html' %}
{% load static %}

{% block titulo_pagina %}Game{% endblock %}


    {% block css_externo %}
		<link rel="stylesheet" href="{% static 'jogo/css/estilo_jogo.css' %}">
    {% endblock %}

{% block estilo %}
    <style>
        /* Este estilo muda a cor do fundo do jogo*/
        body {
            -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
            -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
            animation-name: example;
            animation-duration: 2s;
            animation-iteration-count: 1;
            background-color: black;
        }
        /* Safari 4.0 - 8.0
        @-webkit-keyframes example {
          0%   {background-color: black;}
          100% {background-color: green;}
        }*/
        /* Standard syntax */
        @keyframes example {
          0%   {background-color: #1c1c29;}
          100% {background-color: black;}
        }
    </style>
{% endblock %}

{% block scripts %}
	<script src="{% static 'jogo/scripts/phaser.js' %}"></script>
{% endblock %}


{% block body %}

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-10 offset-md-1">
				<div id="game-section"></div>
			</div>
		</div>
	</div>


	<script src="{% static 'jogo/scripts/boot.js' %}"></script>
	<script src="{% static 'jogo/scripts/load.js' %}"></script>
	<script src="{% static 'jogo/scripts/menu.js' %}"></script>

	<script src="{% static 'jogo/scripts/story_screen/story_screen1.js' %}"></script>
	<script src="{% static 'jogo/scripts/story_screen/story_screen2.js' %}"></script>
	<script src="{% static 'jogo/scripts/story_screen/story_screen3.js' %}"></script>
	<script src="{% static 'jogo/scripts/story_screen/story_screen4.js' %}"></script>
	<script src="{% static 'jogo/scripts/story_screen/story_screen5.js' %}"></script>
	<script src="{% static 'jogo/scripts/story_screen/story_screen6.js' %}"></script>
	<script src="{% static 'jogo/scripts/story_screen/story_screen7.js' %}"></script>

	<script src="{% static 'jogo/scripts/mapa.js' %}"></script>
	<script src="{% static 'jogo/scripts/stage1/pre_stage1.js' %}"></script>
	<script src="{% static 'jogo/scripts/stage1/stage1.js' %}"></script>
	<script src="{% static 'jogo/scripts/game_over.js' %}"></script>
	<script src="{% static 'jogo/scripts/game.js' %}"></script>
{% endblock %}

