{% extends 'jogo/base.html' %}
{% load static %}
{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="dash-card">
                    <div class="dash-card-header">
                        <h4 class="pixel-title">Muito obrigado!&nbsp;<span class="icon-info"></span></h4>
                        <!-- <p>.</p>-->
                        <hr/>
                    </div>
                    <div class="dash-card-body">
                        <p class="text-justify">Esperamos muito que você tenha se divertido!!!</p>
                        <p>Agora, antes de sair, por favor conte-nos como foi a sua experiência com o jogo, isso é muito importante para toda a equipe!!!</p>

                        <img src="{% static 'jogo/img/obrigado.gif' %}" alt="" class="img-fluid img-tutorial">
                        <div class="dash-list text-center">
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLScL-0UYb14NrAuaCPY9zMUFtMUIGt4_4vJOadvYiElum94HdA/viewform?usp=pp_url&entry.766630221={{jogador.apelido}}" class="btn btn-azul-1" target="_blank">Acessar formulário</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}