{% extends 'jogo/base.html' %}
{% load static %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="dash-card">
                    <div class="dash-card-header">
                        <h4 class="pixel-title">Muito obrigado por jogar o nosso jogo!&nbsp;<span class="icon-info"></span></h4>
<!--                        <p>.</p>-->
                        <hr/>
                    </div>
                    <div class="dash-card-body">
                        <p class="text-justify">Esperamos muito que você tenha se divertido!!!.</p>
                        <p>É muito importante, nesta etapa final, você deixar a sua opinião a respeito do jogo, isso é muito importante para a equipe que desenvolveu o jogo.</p>

                        <img src="{% static 'jogo/img/obrigado.gif' %}" alt="" class="img-fluid img-tutorial">
                        <div class="dash-list text-center">
                            <a href="#" class="btn btn-azul-1" target="_blank">Acessar formulário</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}