{% extends 'jogo/base.html' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="dash-card">
                    <div class="dash-card-header">
                        <h4>Pesquisar jogo&nbsp;<span class="icon-search"></span></h4>
                        <p>Pesquise um ou mais jogos, pelo apelido do usuário.</p>
                    </div>
                    <div class="dash-card-body">
                        <form action="." method="GET">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="search" class="white-color">Apelido:</label>
                                <div class="ui-widget">
                                    
                                    <input type="text" id="search" name="search" required>
                                </div>
                            </div>
                            <input type="submit" class="btn btn-outline-success my-2 my-sm-0" value="Buscar">
                            <input type="reset" class="btn btn-light">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
