{% extends 'jogo/base.html' %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="dash-card">
                    <div class="dash-card-header">
                        <h4 class="pixel-title">Um pouco mais sobre este projeto&nbsp;<span class="icon-info"></span></h4>
                        <p>Saiba um pouco mais sobre este projeto.</p>
                        <hr/>
                    </div>
                    <div class="dash-card-body">
                        <p class="text-justify">Este jogo é um projeto desenvolvido pelos alunos Leandro Marcos da Silva,
                            Murilo Ignácio Carvalho, Paulo André Pimenta Aragão e Victor Fernandes Gardini, do Bacharelado
                            em Ciência da Computação, da Universidade Estadual Paulista "Júlio de Mesquita Filho",
                            localizada no campus de São José do Rio Preto.</p>
                        <p class="text-justify">O jogo foi uma proposta realizada na disciplina de Probabilidade e Estatística,
                            e portanto possui conceitos tanto de probabilidade como de estatística implementados em sua mecânica.
                            Nela, foi utilizado um modelo probabilístico, denomidado modelo de Poisson, para o cálculo do dano crítico.
                            Conceitos de estatística foram aplicados para a produção das estatísticas finais que compõem a dashboard.</p>
                        <p class="text-justify">Para que o jogo possa ser melhorado, contamos com a sua colaboração.
                            Pedimos encarecidamente que ao final do jogo você responda o questionário de forma séria.
                            Sua opinião irá nos ajudar a deixar o jogo mais divertido e desafiador.</p>

                        <h5 class="title-item-dash">Como entrar em contato com os desenvolvedores?</h5>
                        <p>Isso é fácil, deixamos o nosso contato aqui para caso você queira tirar alguma dúvida diretamente ou enviar alguma mensagem!</p>


                        <ul class="dash-list">
                            <li>Leandro Marcos da Silva:</li>

                            <li>Murilo Ignácio Carvalho:
                                <a href="https://www.facebook.com/murilo.ignaciocarvalho" target="_blank">Facebook</a>
                            </li>

                            <li>
                                Paulo André Pimenta Aragão:
                            </li>

                            <li>
                                Victor Fernandes Gardini:
                                <a href="https://www.facebook.com/victorfernandes.gardini" target="_blank">Facebook</a>,
                                <a href="www.linkedin.com/in/victorgardini" target="_blank">LinkedIn</a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}