{% extends 'jogo/base.html' %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="dash-card">
                    <div class="dash-card-header">
                        <h4 class="pixel-title">Um pouco mais sobre este projeto&nbsp;<span class="icon-info"></span></h4>
                        <p>Saiba um pouco mais sobre este projeto.</p>
                        <hr/>
                    </div>
                    <div class="dash-card-body">
                        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus laoreet ultricies elit in
                            tincidunt. Fusce vel molestie turpis. Cras sit amet diam felis. Ut auctor pretium est sed
                            cursus. Cras sit amet ante hendrerit, euismod mauris ut, lacinia nibh. Aenean neque orci,
                            tincidunt tempor nunc vel, facilisis convallis ipsum. Nunc facilisis enim id pharetra
                            placerat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae enim
                            non dui viverra pharetra sit amet a augue. Ut ultricies, lorem eu molestie semper, dolor
                            diam sodales nisi, nec consectetur magna mi pretium sapien. Morbi eu justo interdum,
                            pellentesque ex vel, gravida nisl. Etiam nec eros felis. Pellentesque habitant morbi
                            tristique senectus et netus et malesuada fames ac turpis egestas. Nunc felis sem, gravida et
                            tortor interdum, facilisis ornare est. Integer velit felis, gravida ac ullamcorper vitae,
                            eleifend non nibh. Aliquam nec risus eu enim lobortis commodo.</p>
                        <p class="text-justify">Integer hendrerit mi ligula, vitae dictum sapien ullamcorper non. Class aptent taciti
                            sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla molestie metus
                            massa, et dapibus libero varius sit amet. Nunc dictum sapien quis luctus elementum.
                            Pellentesque eget maximus ante. Proin vel dui ligula. Fusce eu augue convallis, vulputate
                            tellus vel, dictum ante.</p>
                        <p class="text-justify">Vivamus convallis quis lectus et gravida. Cras ut imperdiet quam. Nullam sit amet arcu in
                            ipsum rhoncus dapibus. Aliquam cursus tellus eget eleifend aliquam. Aliquam erat volutpat.
                            In rhoncus odio ac elit ultrices, quis tempus nisl interdum. Mauris pharetra ipsum ut
                            blandit fringilla. Quisque dapibus justo mi, id convallis massa viverra ac. Phasellus varius
                            tincidunt lacinia. Quisque ligula est, convallis at orci vitae, blandit pharetra tortor.
                            Quisque at lectus interdum, condimentum libero finibus, tincidunt lorem.</p>
                        <p class="text-justify">Ut finibus eleifend libero id fringilla. Nunc leo tortor, scelerisque ac sem id, condimentum
                            mattis odio. Duis et facilisis neque. Phasellus rhoncus felis mattis dui mattis, mollis
                            consequat enim iaculis. Vivamus consequat pharetra tempor. Nam sed diam sem. In ultricies
                            erat metus, non gravida lectus convallis vitae. Ut suscipit quis risus ut dignissim. Donec
                            facilisis arcu nisi. Cras eget mauris eros. Curabitur ullamcorper nulla imperdiet leo
                            euismod, nec faucibus sem tincidunt.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}