{% load static %}

<!DOCTYPE>
<html>

<head>
    <script src="{% static 'jogo/scripts/script.js' %}"></script>

    <script>
    	function rodarDado() {
    		let d1 = 0, d2 = 0, d3 = 0, d4 = 0, d5 = 0, d6 = 0;
    		let valor = 0;
    		for (let i = 0; i < 1000000; i++) {
    			valor = Math.floor(Math.random() * 6 + 1);

    			if(valor == 1) {
    				d1++;
    			}
    			else if(valor == 2)
    				d2++;
    			else if(valor == 3)
    				d3++;
    			else if(valor == 4)
    				d4++;
    			else if(valor == 5)
    				d5++;
    			else
    				d6++;
    		}

    		//console.log(d1);
    		document.getElementById('resultado1').value = d1;
    		document.getElementById('resultado2').value = d2;
    		document.getElementById('resultado3').value = d3;
    		document.getElementById('resultado4').value = d4;
    		document.getElementById('resultado5').value = d5;
    		document.getElementById('resultado6').value = d6;

    		let vet = [d1, d2, d3, d4, d5, d6];
    		vet.sort();
    		document.getElementById('maior').value = vet[5];
    		document.getElementById('menor').value = vet[0];

    		document.getElementById('diferenca').value = vet[5] - vet[0];
    		document.getElementById('percent_diferenca').value = (vet[5] - vet[0]) / 1000000;
    	}

		function simularJogos() {
			/*for(let i = 0; i < 1000; i++) {
				// Simulando 1000 jogos
				let vidaHeroi = 50, vidaVilao = 50, cont = 0;
				while(vidaHeroi > 0 || vidaVilao > 0) {
					cont++;
					vidaVilao -= definicaoAtaqueFinal('basico', 'heroi');
					if(vidaVilao <= 0)
						break;
					cont++;
					vidaHeroi -= definicaoAtaqueFinal('basico', 'plox');
				}
				duracaoTurno[i] = cont;
				if(vidaHeroi <= 0)
					derrotas++;
				else if(vidaVilao <= 0) {
					vidaRestante[j] = vidaHeroi;
					j++;
					vitorias++;
				}
			}
			let auxCont = 0, mediaVida = 0;
			for(let i = 0; i < 1000; i++)
				auxCont += duracaoTurno[i];

			for(let i = 0; i < j; i++)
				mediaVida += vidaRestante[i];

			console.log('Média vida basico-basico: ' + mediaVida / j);
			console.log('basico-basico: ' + auxCont / 1000);
			console.log(derotas);
			console.log(vitorias);
			let percent_vitorias = vitorias / 1000;
			document.getElementById('basico-basico').value = percent_vitorias;

			vitorias = 0;
			derrotas = 0;

			for(let i = 0; i < 1000; i++) {
				// Simulando 1000 jogos
				let vidaHeroi = 100, vidaVilao = 100;
				while(vidaHeroi > 0 || vidaVilao > 0) {
					vidaVilao -= definicaoAtaqueFinal('magico', 'heroi');
					if(vidaVilao <= 0)
						break;
					vidaHeroi -= definicaoAtaqueFinal('magico', 'plox');
				}
				if(vidaHeroi <= 0)
					derrotas++;
				else if(vidaVilao <= 0)
					vitorias++;
			}

			percent_vitorias = vitorias / 1000;
			document.getElementById('magico-magico').value = percent_vitorias;

			vitorias = 0;
			derrotas = 0;
			mediaVida = 0;
			j = 0;

			for(let i = 0; i < 1000; i++) {
				// Simulando 1000 jogos
				let vidaHeroi = 50, vidaVilao = 50, cont = 0;
				while(vidaHeroi > 0 || vidaVilao > 0) {
					cont++;
					vidaVilao -= definicaoAtaqueFinal('magico', 'heroi');
					if(vidaVilao <= 0)
						break;
					cont++;
					vidaHeroi -= definicaoAtaqueFinal('basico', 'plox');
				}
				duracaoTurno[i] = cont;
				if(vidaHeroi <= 0)
					derrotas++;
				else if(vidaVilao <= 0) {
					vidaRestante[j] = vidaHeroi;
					j++;
					vitorias++;
				}
			}
			auxCont = 0;
			for(let i = 0; i < 1000; i++)
				auxCont += duracaoTurno[i];

			for(let i = 0; i < j; i++)
				mediaVida += vidaRestante[i];

			console.log('Média vida magico-basico: ' + mediaVida / j);
			console.log('magico-basico: ' + auxCont / 1000);

			percent_vitorias = vitorias / 1000;
			document.getElementById('magico-basico').value = percent_vitorias;*/

			let vitorias = 0, derrotas = 0, duracaoTurno = [], vidaRestante = [], j = 0, basico = 0, magico = 0, ataque = 0, defesa = 0;
			for(let i = 0; i < 10000; i++) {
				// Simulando 1000 jogos
				let vidaHeroi = 50, vidaVilao = 50, turno = 0;
				while(vidaHeroi > 0 || vidaVilao > 0) {
					turno++;
					let choice = gerarNumeroIntervalo(1, 2);
					if(choice == 1) {
					    ataque++;
					    let escolhaHeroi = gerarNumeroIntervalo(1, 2); // Define o tipo do ataque do herói
                        if(escolhaHeroi == 1) { // Básico
                            basico++;
                            vidaVilao -= definicaoAtaqueFinal('basico', 'heroi');
                        }
                        else { // Mágico
                            magico++;
                            vidaVilao -= definicaoAtaqueFinal('magico', 'heroi');
                        }
                        if(vidaVilao <= 0)
                            break;

                        let escolhaVilao = gerarNumeroIntervalo(1, 2); // Define o tipo do ataque do vilão
                        if(escolhaVilao == 1)
                            vidaHeroi -= definicaoAtaqueFinal('basico', 'magus');
                        else
                            vidaHeroi -= definicaoAtaqueFinal('magico', 'magus');
                        if(vidaHeroi <= 0)
                            break;
                    }
					else {
					    defesa++;
					    let escolhaVilao = gerarNumeroIntervalo(1, 2); // Define o tipo do ataque do vilão
                        if(escolhaVilao == 1)
                            vidaHeroi -= CalculoDefesa(definicaoAtaqueFinal('basico', 'magus'), 3);
                        else
                            vidaHeroi -= CalculoDefesa(definicaoAtaqueFinal('magico', 'magus'), 3);
                        if(vidaHeroi <= 0)
                            break;

                    }

					turno++;
				}

				duracaoTurno[i] = turno;
				if(vidaHeroi <= 0)
					derrotas++;
				else if(vidaVilao <= 0) {
					vidaRestante[j] = vidaHeroi;
					j++;
					vitorias++;
				}
			}

			let cont = 0;

			for(let i = 0; i < 10000; i++) {
				cont += duracaoTurno[i];
			}

			let percent_vitorias = vitorias / 10000;
			document.getElementById('basico').value = percent_vitorias;
			document.getElementById('ataquesBasicos').value = basico;
			document.getElementById('ataquesMagicos').value = magico;
			document.getElementById('mediaTurnos').value = (cont / 10000) / 2;
			document.getElementById('ataques').value = ataque;
			document.getElementById('defesas').value = defesa;
		}

		function somenteAtaque() {
    	    let vitorias = 0, derrotas = 0, duracaoTurno = [], vidaRestante = [], j = 0, basico = 0, magico = 0, ataque = 0, defesa = 0;
			for(let i = 0; i < 10000; i++) {
				// Simulando 1000 jogos
				let vidaHeroi = 50, vidaVilao = 50, turno = 0;
				while(vidaHeroi > 0 || vidaVilao > 0) {
					turno++;

                    let escolhaHeroi = gerarNumeroIntervalo(1, 2); // Define o tipo do ataque do herói
                    if(escolhaHeroi == 1) { // Básico
                        basico++;
                        vidaVilao -= definicaoAtaqueFinal('basico', 'heroi');
                    }
                    else { // Mágico
                        magico++;
                        vidaVilao -= definicaoAtaqueFinal('magico', 'heroi');
                    }
                    if(vidaVilao <= 0)
                        break;

                    let escolhaVilao = gerarNumeroIntervalo(1, 2); // Define o tipo do ataque do vilão
                    if(escolhaVilao == 1)
                        vidaHeroi -= definicaoAtaqueFinal('basico', 'voss');
                    else
                        vidaHeroi -= definicaoAtaqueFinal('magico', 'voss');
                    if(vidaHeroi <= 0)
                        break;

					turno++;
				}

				duracaoTurno[i] = turno;
				if(vidaHeroi <= 0)
					derrotas++;
				else if(vidaVilao <= 0) {
					vidaRestante[j] = vidaHeroi;
					j++;
					vitorias++;
				}
			}

			let cont = 0;

			for(let i = 0; i < 10000; i++) {
				cont += duracaoTurno[i];
			}

			let percent_vitorias = vitorias / 10000;
			document.getElementById('basico').value = percent_vitorias;
			document.getElementById('ataquesBasicos').value = basico;
			document.getElementById('ataquesMagicos').value = magico;
			document.getElementById('mediaTurnos').value = (cont / 10000) / 2;
			document.getElementById('ataques').value = ataque;
			document.getElementById('defesas').value = defesa;
        }
    </script>
</head>
	
	<!--Valor 1: <input type="text" id="resultado1" value="" readonly="true"> <br>
	Valor 2: <input type="text" id="resultado2" value="" readonly="true"> <br>
	Valor 3: <input type="text" id="resultado3" value="" readonly="true"> <br>
	Valor 4: <input type="text" id="resultado4" value="" readonly="true"> <br>
	Valor 5: <input type="text" id="resultado5" value="" readonly="true"> <br>
	Valor 6: <input type="text" id="resultado6" value="" readonly="true"> <br> <br>
	Maior: <input type="text" id="maior" value="" readonly="true"> <br>
	Menor: <input type="text" id="menor" value="" readonly="true"> <br> <br>
	Diferença: <input type="text" id="diferenca" value="" readonly="true"> <br>
	% Difereça: <input type="text" id="percent_diferenca" value="" readonly="true"> <br>

	<input type="button" name="" onclick="rodarDado();" value="Rodar">-->

	<!--Com 100 de vida, somente ataque básico e contra o Plox com ataque básico, a chance de vitória é: <input type="text" id="basico-basico" value="" readonly="true"> <br>
	Com 100 de vida, somente ataque mágico e contra o Plox com ataque mágico, a chance de vitória é: <input type="text" id="magico-magico" value="" readonly="true"> <br>
	Com 100 de vida, somente ataque mágico e contra o Plox com ataque básico, a chance de vitória é: <input type="text" id="magico-basico" value="" readonly="true"> <br>-->

	Percentual de vitórias, apenas com ataque aleatório: <input type="text" id="basico" value="" readonly> <br>
	Número de vezes que o herói atacou com ataque básico: <input type="text" id="ataquesBasicos" value="" readonly> <br>
	Número de vezes que o herói atacou com ataque mágico: <input type="text" id="ataquesMagicos" value="" readonly> <br>
    Número de vezes que o herói atacou <input type="text" id="ataques" value="" readonly> <br>
    Número de vezes que o herói defendeu: <input type="text" id="defesas" value="" readonly> <br>
	Média de turnos que o jogador irá jogar contra Voss: <input type="text" id="mediaTurnos" value="" readonly> <br>
	<input type="button" name="" onclick="somenteAtaque();" value="Rodar">



</html>