{% extends 'jogo/base.html' %}
{% load static %}


{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="dash-card">
                    <div class="dash-card-header">
                        <h4 class="pixel-title">Did you ever hear the tragedy of Darth Plagueis the Wise?&nbsp;<span class="icon-info"></span></h4>
<!--                        <p>.</p>-->
                        <hr/>
                    </div>
                    <div class="dash-card-body">

                        <h5>Sobre a index_jogo:</h5>
                        <p class="text-justify">I thought not. It's not a story the Jedi would tell you. It's a Sith legend. Darth Plagueis was a Dark Lord of the Sith, so powerful and so wise he could use the Force to influence the midichlorians to create life... He had such a knowledge of the dark side that he could even keep the ones he cared about from dying. The dark side of the Force is a pathway to many abilities some consider to be unnatural. He became so powerful... the only thing he was afraid of was losing his power, which eventually, of course, he did. Unfortunately, he taught his apprentice everything he knew, then his apprentice killed him in his sleep. It's ironic he could save others from death, but not himself.</p>
                        <img src="{% static 'jogo/img/tutorial/tutorial_novo_jogo.jpg' %}" alt="" class="img-fluid img-tutorial">

                        <p class="text-justify">I thought not. It's not a story the Jedi would tell you. It's a Sith legend. Darth Plagueis was a Dark Lord of the Sith, so powerful and so wise he could use the Force to influence the midichlorians to create life... He had such a knowledge of the dark side that he could even keep the ones he cared about from dying. The dark side of the Force is a pathway to many abilities some consider to be unnatural. He became so powerful... the only thing he was afraid of was losing his power, which eventually, of course, he did. Unfortunately, he taught his apprentice everything he knew, then his apprentice killed him in his sleep. It's ironic he could save others from death, but not himself.</p>
                        <img src="{% static 'jogo/img/tutorial/tutorial_consultar_dashboard.jpg' %}" alt="" class="img-fluid img-tutorial">

                        <h5>Como jogar</h5>
                        <p class="text-justify">I thought not. It's not a story the Jedi would tell you. It's a Sith legend. Darth Plagueis was a Dark Lord of the Sith, so powerful and so wise he could use the Force to influence the midichlorians to create life... He had such a knowledge of the dark side that he could even keep the ones he cared about from dying. The dark side of the Force is a pathway to many abilities some consider to be unnatural. He became so powerful... the only thing he was afraid of was losing his power, which eventually, of course, he did. Unfortunately, he taught his apprentice everything he knew, then his apprentice killed him in his sleep. It's ironic he could save others from death, but not himself.</p>
                        <img src="{% static 'jogo/img/tutorial/tutorial_player_HUD.jpg' %}" alt="" class="img-fluid img-tutorial">

                        <p class="text-justify">I thought not. It's not a story the Jedi would tell you. It's a Sith legend. Darth Plagueis was a Dark Lord of the Sith, so powerful and so wise he could use the Force to influence the midichlorians to create life... He had such a knowledge of the dark side that he could even keep the ones he cared about from dying. The dark side of the Force is a pathway to many abilities some consider to be unnatural. He became so powerful... the only thing he was afraid of was losing his power, which eventually, of course, he did. Unfortunately, he taught his apprentice everything he knew, then his apprentice killed him in his sleep. It's ironic he could save others from death, but not himself.</p>
                        <img src="{% static 'jogo/img/tutorial/tutorial_score.jpg' %}" alt="" class="img-fluid img-tutorial">

                        <p class="text-justify">I thought not. It's not a story the Jedi would tell you. It's a Sith legend. Darth Plagueis was a Dark Lord of the Sith, so powerful and so wise he could use the Force to influence the midichlorians to create life... He had such a knowledge of the dark side that he could even keep the ones he cared about from dying. The dark side of the Force is a pathway to many abilities some consider to be unnatural. He became so powerful... the only thing he was afraid of was losing his power, which eventually, of course, he did. Unfortunately, he taught his apprentice everything he knew, then his apprentice killed him in his sleep. It's ironic he could save others from death, but not himself.</p>
                        <img src="{% static 'jogo/img/tutorial/tutorial_atacar.jpg' %}" alt="" class="img-fluid img-tutorial">

                        <p class="text-justify">I thought not. It's not a story the Jedi would tell you. It's a Sith legend. Darth Plagueis was a Dark Lord of the Sith, so powerful and so wise he could use the Force to influence the midichlorians to create life... He had such a knowledge of the dark side that he could even keep the ones he cared about from dying. The dark side of the Force is a pathway to many abilities some consider to be unnatural. He became so powerful... the only thing he was afraid of was losing his power, which eventually, of course, he did. Unfortunately, he taught his apprentice everything he knew, then his apprentice killed him in his sleep. It's ironic he could save others from death, but not himself.</p>
                        <img src="{% static 'jogo/img/tutorial/tutorial_defesa.jpg' %}" alt="" class="img-fluid img-tutorial">

                        <!-- ESQUECI O DA PEDRA -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}