div.main-container canvas#myChart{
    width: 450px;
    height: 450px;
}

div.blocos{
    display: inline-block;
    width: 150px;
    height: 150px;
    background-color: black;
    margin-right: 150px;
}