/* Importando a fonte */
/*@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');*/
/*@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');*/
/*@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');*/

@font-face {
    font-family: "Press Start 2P";
    src: local("Press Start 2P"), url("fonts/PressStart2P-Regular.ttf");
}

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"), url("fonts/Montserrat-Regular.ttf");
    font-weight: normal; /* 400 */
}

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"), url("fonts/Montserrat-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"), url("fonts/Montserrat-Medium.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"), url("fonts/Montserrat-Bold.ttf");
    font-weight: bold; /* 700 */
}

* {
    font-family: 'Montserrat', sans-serif !important;
}

.white-color {
    color: rgba(255, 255, 255, 0.8) !important;
}

form label, form input {
    font-size: 1.2rem;
}

/* dashboard styles */
section#section-dashboard {
    background-color: #1c1c29;
}

section#section-dashboard h1, section#section-dashboard p{
    color: #ffffff;
}

svg.icon {
    fill: rgba(255, 255, 255, 0.8);
    width: 20px;
    height: 20px;
}

.dash-card {
    margin-top: 15px;
    /*margin-bottom: 15px;*/
    padding-bottom: 10px;
    color: rgba(255, 255, 255, 0.8);
    padding-top: 20px;
    background-color: #27293d;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: 0.2857rem;
    border: 2px solid rgba(225, 78, 202, 0);
    transition: all 0.3s;
}
/*rgba(0, 0, 0, 0.1)*/
/*225 78 202*/
.dash-card:hover {
    /*box-shadow: 0 1px 20px 0 #e14eca;*/
    border: 2px solid rgba(225, 78, 202, 0.6);
}

.dash-card-header {
    padding-left: 15px;
    padding-right: 15px;
}

.dash-card-header h4 {
    font-size: 1.6875rem;
    font-weight: bold;
    padding-bottom: 5px;
}

.dash-card-header hr {
    display: block;
    height: 1px;
    width: 60%;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    margin: 1em 0 30px;
    padding: 0;
    /*color: rgba(255, 255, 255, 0.6) solid;*/
}

.dash-card-header hr.hr-centro {
    display: block;
    height: 1px;
    width: 100%;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    /*margin: 1em 0 30px;*/
    padding: 0;
    /*color: rgba(255, 255, 255, 0.6) solid;*/
}

.dash-card-header p {
    font-size: 1.25rem;
    font-weight: lighter;
}

.dash-card-body p {
    text-indent: 1.5em;
    font-size: 1.125rem;
}

ul.dash-list {
    margin-left: 30px;
}

ul.dash-list li {
    font-size: 1.25rem;
}

table.dash-table {
    /*color: rgba(255, 255, 255, 0.8);*/
    padding-left: 15px;
    padding-right: 15px;
    /* tirando conflitos com o bootstrap */
    margin-bottom: 0 !important;
    border-collapse: initial !important;
}

table.dash-table tr {
    transition: background-color 0.3s;
}

table.dash-table tr:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Pesquisar jogo form */
body {
    color: rgba(255, 255, 255, 0.8);
    background-color: #1c1c29;
}

.navbar {
    background-color: #27293d !important;
    color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(225, 78, 202, 0);
}

.branco a {
    color: rgba(255, 255, 255, 0.8) !important;
    border-bottom: 2px solid #27293d;
    transition: 0.5s;
}

.branco a:hover {
    border-bottom: 2px solid rgba(225, 78, 202, 0.6);
}

div.dash-card-body form{
    padding-left: 15px;
    padding-right: 15px;
}

div.dash-card-footer {
    margin-top: 10px;
    margin-left: 15px;
}

div.dash-card-body p{
    padding-left: 15px;
    padding-right: 15px;
}

/* Btn's */
.btn-azul-1 {
    font-size: 1.125rem;
    color: #fff;
    background-image: linear-gradient(to right, #017EC1, #08AEEA);
    border-color: #151128;
    /*transition: all 0.2s ease-in-out;*/
}

.btn-azul-1:hover {
    color: #ffffff;
    background-image: linear-gradient(to right, #08AEEA, #017EC1);
    border-color: #212121;
}

/* Rodape */
section.rodape {
    margin-top: 40px;
    padding-top: 24px;
    color: rgba(255, 255, 255, 0.8);
    background-color: #27293d;
}

ul.rodape-list {
    margin-top: 15px;
}

ul.rodape-list li {
    padding-bottom: 8px;
    padding-top: 8px;
}

ul.rodape-list li a{
    color: rgba(255, 255, 255, .8);
    transition: color 0.25s;
}

ul.rodape-list li a:hover {
    color: rgba(225, 78, 202, 0.6);
    text-decoration: none;
}

/* JOGO SECTION STYLES */
.pixel-title {
    font-size: 28px !important;
    letter-spacing: -1px;
    font-family: 'Press Start 2P', cursive !important;
}